@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(264, 48%, 24%);
  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(264, 48%, 24%);
  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(264, 48%, 24%);
  --primary: hsl(243, 90%, 4%);
  --primary-foreground: hsl(248, 1%, 98%);
  --secondary: hsl(248, 1%, 97%);
  --secondary-foreground: hsl(266, 48%, 32%);
  --muted: hsl(248, 1%, 97%);
  --muted-foreground: hsl(240, 10%, 48%);
  --accent: hsl(248, 1%, 97%);
  --accent-foreground: hsl(266, 48%, 32%);
  --destructive: hsl(27, 78%, 57%);
  --border: hsl(256, 1%, 92%);
  --input: hsl(256, 1%, 92%);
  --ring: hsl(257, 49%, 70%);
  --chart-1: hsl(41, 80%, 58%);
  --chart-2: hsl(185, 49%, 55%);
  --chart-3: hsl(227, 49%, 39%);
  --chart-4: hsl(84, 82%, 76%);
  --chart-5: hsl(70, 82%, 71%);
  --sidebar: hsl(248, 1%, 98%);
  --sidebar-foreground: hsl(264, 48%, 24%);
  --sidebar-primary: hsl(266, 48%, 32%);
  --sidebar-primary-foreground: hsl(248, 1%, 98%);
  --sidebar-accent: hsl(248, 1%, 97%);
  --sidebar-accent-foreground: hsl(266, 48%, 32%);
  --sidebar-border: hsl(256, 1%, 92%);
  --sidebar-ring: hsl(257, 49%, 70%);
}

.dark {
  --background: hsl(264, 48%, 24%);
  --foreground: hsl(248, 1%, 98%);
  --card: hsl(266, 48%, 32%);
  --card-foreground: hsl(248, 1%, 98%);
  --popover: hsl(266, 48%, 32%);
  --popover-foreground: hsl(248, 1%, 98%);
  --primary: hsl(256, 1%, 92%);
  --primary-foreground: hsl(266, 48%, 32%);
  --secondary: hsl(260, 48%, 38%);
  --secondary-foreground: hsl(248, 1%, 98%);
  --muted: hsl(260, 48%, 38%);
  --muted-foreground: hsl(257, 49%, 70%);
  --accent: hsl(260, 48%, 38%);
  --accent-foreground: hsl(248, 1%, 98%);
  --destructive: hsl(22, 75%, 63%);
  --border: hsl(0, 0%, 100%, 10%);
  --input: hsl(0, 0%, 100%, 15%);
  --ring: hsl(264, 26%, 55%);
  --chart-1: hsl(264, 77%, 49%);
  --chart-2: hsl(162, 57%, 62%);
  --chart-3: hsl(70, 82%, 71%);
  --chart-4: hsl(303, 78%, 59%);
  --chart-5: hsl(16, 77%, 59%);
  --sidebar: hsl(266, 48%, 32%);
  --sidebar-foreground: hsl(248, 1%, 98%);
  --sidebar-primary: hsl(264, 77%, 49%);
  --sidebar-primary-foreground: hsl(248, 1%, 98%);
  --sidebar-accent: hsl(260, 48%, 38%);
  --sidebar-accent-foreground: hsl(248, 1%, 98%);
  --sidebar-border: hsl(0, 0%, 100%, 10%);
  --sidebar-ring: hsl(264, 26%, 55%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground scroll-smooth;
  }
}

html {
  scroll-behavior: smooth;
}
